{% extends 'base.html' %}

{% block title %} Login{% endblock %}
{% block head %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
<style>
  body {
    background-image: url("{{url_for('static',filename='images/bold.jpg')}}");
  }

  #r1 {
    margin-left: 33%;

  }
  .form2 {
        max-width: 550px;
        margin: 0 auto;
        background: rgba(0, 0, 0, 0.8);
        padding: 30px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);

    }

  #failed {
    margin-top: 2%;
    margin-right: 1%;
    background-color: rgb(219, 22, 22);

    font-size: large;
  }

  body {
    background-color: whitesmoke;
  }

  h3 {
    color: black;
    font-weight: bolder;
    background: plum;
    padding: 8px;
    border-radius: 80%;
  }

  .top {
    color: white;
    font-weight: bolder;
  }
  
</style>
{% endblock %}

{% block body %}

<h3 align="center">Sign In</h3>

<br>
<div class="row" id="r1">
  <div class="col-md-6 col-md-offset-3">
  
    <form align='center' class="form2">
      {% if err %}
      
      <b id="failed">{{err}}</b>
      <br>
      {% endif %}
      
        <div class="form-group">
          <label class="top">Email:</label>
          <input type="text" class="form-control" name="email" id="email">
          <br>
          <div id="errorAlert-email" class="alert alert-danger" role="alert" style="display:none;"></div>
        </div>
        <div class="form-group">
          <label class="top">Password:</label>
          <input type="password" class="form-control" name="password" id="password">
          <br>
          <div id="errorAlert-password" class="alert alert-danger" role="alert" style="display:none;"></div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
        <br>
        
            <a style="text-decoration: none;" href="/forgetpwd" >Forgot Password?</a>
     

    </form>
  </div>
</div><br><br><br><br><br>

{% endblock %}