{% extends 'base.html' %}

{% block title %} Our Team {% endblock %}

{% block head %} 
<style>

  @import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

*{
  padding: 0;
  margin: 0;
}

body {
  background-color: #12172b;
  font-family: "Poppins", sans-serif;
}

.container {
  margin: 20px 40px;
  color: white;
}

.heading {
  font-size: 40px;
  color: white;
}

.heading span {
  font-style: italic;
  font-size: 25px;
}

.profiles {
  display: flex;
  justify-content: space-around;
  margin: 20px 80px;
}

.profile {
  flex-basis: 240px;
}
.sup{
  margin-top: -3%;
}

.profile .profile-img {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  /*backdrop-filter: blur(10px);
  filter: grayscale(100%);*/
  cursor: pointer;
  transition: 400ms;
  opacity: 0.75;
}

.profile:hover .profile-img {
  /*filter: grayscale(0);*/
  opacity: 1;
  transform: translate(-15px);
}

.user-name {
  margin-top: 20px;
  font-size: 31px;

}

.profile h5 {
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2.5px;
  color: #ccc;
}

.profile p {
  font-size: 14px;
  margin-top: 20px;
  margin-left: -8%;
  text-align: justify;
}

@media only screen and (max-width: 1150px) {
  .profiles {
    flex-direction: column;
  }

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile p {
    text-align: center;
    margin: 20px 60px 80px 60px;
    font-size: 20px;
    
  }
}

@media only screen and (max-width: 900px) {
  .heading {
    font-size: 40px;
    color: white;
    text-align: center;
  }

  .heading span {
    font-size: 15px;
  }

  .profiles {
    margin: 20px 0;
  }

  .profile p {
    margin: 20px 10px 80px 10px;
    
  }
  
}

   
    
</style>
{% endblock %}
{% block body %}

<div class="container">
  <h1 class="heading"><span>meet</span>Our Team</h1>
<div class="sup">
  <div class="profiles">
    <div class="profile">
      <a href="mailto:ghazalnauman78@gmail.com" >  <img src="static\images\team\female.jpg" class="profile-img"> </a>

      <h3 class="user-name">Ms. Rubina Ghazal</h3>
      <h5>Project Supervisor</h5>
      <p>Assistant Professor at UAAR-UIIT</p>
   
    </div>
    </div>
  </div>

  <hr>


  <div class="profiles">
    <div class="profile">
      <a href="https://github.com/zunair07" target="_blank"> <img src="static\images\team\img44.jpeg" class="profile-img"> </a>

      <h3 class="user-name">Zunair</h3>
      <h5>Python AI Developer</h5>
      <p>Final Year Student of BS-Information Technology</p>
    </div>
    <div class="profile">
      <a href="mailto:awaiskayani264@gmail.com" > <img src="static\images\team\awais.jpeg" class="profile-img"> </a>
      <h3 class="user-name">Awais</h3>
      <h5>Web App Developer</h5>
      <p>Final Year Student of BS-Information Technology</p>
    </div>
    <div class="profile">
      <a href="mailto:mahrukhshahid17@gmail.com" ><img src="static\images\team\mahrukh.jpeg" class="profile-img"></a>

      <h3 class="user-name">Mahrukh</h3>
      <h5>Web Frontend Developer & Researcher</h5>
      <p>Final Year Student of BS-Information Technology</p>
    </div>
  </div>
</div>


{% endblock %}
